* {
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  color: white;
  font-family: system-ui, sans-serif;
}

:root {
  --color-primary: #ab79d6;
  --color-second: #7750eb;
  --brand-font-weight: 800;
}

@media only screen and (max-width: 768px) {
  canvas {
    height: 300px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  border-bottom: 1px solid white;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 1;
}

header img {
  height: 40px;
}

header nav button {
  border: none;
  color: white;
  text-decoration: none;
  margin: 0 0.33rem;
}

header nav a {
  text-decoration: none;
  font-weight: bold;
  justify-content: center;
  padding: 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
}

main img {
  border-radius: 50%;
  width: 33.333%;
  transition: border-radius 2s;
}

main img:hover {
  border-radius: 15px;

  /* HOVER ON */
  transition: border-radius 2s;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  background: black;
  max-width: 100vw;
}

#joke_setup {
  color: var(--color-primary);
  font-size: clamp(1.5rem, 1rem + 5vw, 2rem);
  font-weight: var(--brand-font-weight);
  letter-spacing: 0.04em;
  line-height: 1.1;
}

#joke_delivery {
  color: var(--color-second);
  font-size: clamp(1.5rem, 1rem + 5vw, 2rem);
  font-weight: var(--brand-font-weight);
  letter-spacing: 0.04em;
  line-height: 1.1;
}

.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

form {
  display: flex;
  flex-wrap: nowrap;
  max-width: 25rem;
}
select {
  padding: 7px 40px 7px 12px;
  margin: 5px;
  width: 100%;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  color: #5a667f;
}
select option {
  color: black;
  text-align: justify;
}
section {
  width: 75%;
  flex: 1 0 auto;
}
section h1 {
  width: fit-content;
  color: white;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 10px;
}

table tr img {
  width: 32px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  padding: 2px;
  padding-right: 20px;
}

canvas {
  width: 100%;
  max-height: 600px;
}
